@use '@/styles/variables' as *;

.plugins_listing {
    &__title {
        display: flex;
        height: 100px;
        align-items: center;
        font-size: 18px;
    }
    &__wrap {
        display: flex;
        flex-wrap: wrap;
        margin-left: -7.5px;
    }
    &__item_wrap {
        width: 100%;
        padding: 7.5px;
        @media (min-width: $min-screen-sm) {
            width: 50%;
        }
        @media (min-width: $min-screen-md) {
            width: 33.3333333%;
        }
    }
    &__item {
        position: relative;
        border: solid 2px $grey;
        border-radius: 4px;
        height: 100%;
        padding: 10px;
        &__title {
            font-size: 16px;
            padding-right: 60px;
            margin-bottom: 15px;
        }
        &__desc {
            font-size: 13px;
            opacity: .7;
            padding-right: 60px;
        }
        &__toggle {
            position: absolute;
            top: 10px;
            right: 10px;
        }
    }
    &__item_disabled {
        opacity: .3;
    }
}
