// Colors
$black: #000;
$white: #fff;
$grey: #F1F1F1;
$green: #5BC88D;
$red: #C63040;
$blue: #0B344B;
$opacity-red: rgba(198, 48, 64, .2);
$blur-red: rgba(198, 48, 64, .5);
$blur-green: rgba(91, 200, 141, .5);

// Fonts
$font-m: 1em;

// Media breakpoints
$min-screen-xxs: 610px;
$min-screen-sm: 724px;
$min-screen-md: 991px;